# Assignment 4

## Churn Prediction Analysis

In this assignment, we are going to predict customer churn for a telecom company using the K-Nearest Neighbor algorithm.

# Setup

Import python libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

%matplotlib inline

# Exercise 1

Load the csv file called 'Churn.csv' using pandas and assign it to a variable called df. (hint: pd.read_csv?) Look at the first 10 rows of the data set. (hint: df.head?)

# Solution 1:

In [ ]:
df = pd.read_csv('Churn.csv')

In [7]:
df.head(10)

,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
0,0,1,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,0,1,26,161.6,123,27.47,195.5,103,16.62,254.4,103,NaN,NaN,3,3.70,1,False
2,0,0,0,243.4,114,41.38,121.2,NaN,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,1,0,0,299.4,NaN,50.90,61.9,88,5.26,NaN,89,8.86,6.6,7,1.78,2,False
4,1,0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
5,1,0,0,NaN,98,37.98,220.6,101,18.75,203.9,118,9.18,6.3,6,1.70,0,False
6,0,NaN,24,218.2,88,NaN,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,False
7,1,0,0,157.0,79,26.69,103.1,94,8.76,211.8,96,9.53,7.1,6,1.92,0,False
8,0,0,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
9,1,1,37,258.6,84,43.96,222.0,111,18.87,326.4,97,14.69,11.2,5,NaN,NaN,False

# Exercise 2: 

Which column indicates whether the user has churned? How many users are there in your dataset? (hint: len?)

# Solution 2:

In [8]:
Total_Users = len(df)
print('There are', Total_Users,'total users')

('There are', 5000, 'total users')

# Exercise 3:

Use df.describe() to explore each column. Why is the count different for each column and not equal to 5000?

# Solution 3:

In [9]:
df.describe()

,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
count,4815.000000,4597.000000,4839.000000,4630.000000,4621.000000,4663.000000,4894.000000,4565.000000,4624.000000,4537.000000,4822.000000,4904.000000,4691.000000,4680.000000,4697.000000,4593.000000,5000
mean,0.095119,0.263215,7.753255,180.353024,100.102575,30.709348,200.652166,100.356407,17.047641,200.144523,99.960390,9.015475,10.261224,4.432265,2.766934,1.568909,0.1414
std,0.293410,0.440426,13.525422,53.902352,19.819299,9.164254,50.513622,19.850245,4.284928,50.936037,19.998369,2.275332,2.760720,2.458918,0.745717,1.303008,0.348469
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,False
25%,0.000000,0.000000,0.000000,143.700000,87.000000,24.430000,166.425000,87.000000,14.157500,166.700000,87.000000,7.510000,8.500000,3.000000,2.300000,1.000000,0
50%,0.000000,0.000000,0.000000,180.100000,100.000000,30.670000,201.000000,101.000000,17.060000,200.300000,100.000000,9.020000,10.300000,4.000000,2.780000,1.000000,0
75%,0.000000,1.000000,17.000000,216.275000,113.000000,36.860000,233.900000,114.000000,19.860000,234.600000,113.000000,10.540000,12.000000,6.000000,3.240000,2.000000,0
max,1.000000,1.000000,52.000000,351.500000,165.000000,59.760000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,True

There are NaN (missing numbers) in each column

# Exercise 4: 

Fill the missing numbers with the median of the whole dataset! (hint: df.fillna?) Check to see if the counts for all columns is now 5000.

# Solution 4:

In [11]:
df.fillna(value = df.median(), inplace = True)
df.describe()

,intl_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churned
count,5000.000000,5000.000000,5000.00000,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000
mean,0.091600,0.242000,7.50360,180.334300,100.09480,30.706696,200.659540,100.412400,17.048570,200.158920,99.961800,9.015562,10.263620,4.404600,2.767726,1.522600,0.1414
std,0.288489,0.428337,13.37606,51.869264,19.05321,8.849973,49.975226,18.967801,4.120634,48.519944,19.639101,2.253379,2.674052,2.381267,0.722771,1.258494,0.348469
min,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,False
25%,0.000000,0.000000,0.00000,146.775000,88.00000,24.890000,167.200000,89.000000,14.340000,170.200000,87.000000,7.540000,8.700000,3.000000,2.350000,1.000000,0
50%,0.000000,0.000000,0.00000,180.100000,100.00000,30.670000,201.000000,101.000000,17.060000,200.300000,100.000000,9.020000,10.300000,4.000000,2.780000,1.000000,0
75%,0.000000,0.000000,14.00000,213.725000,112.00000,36.410000,233.200000,112.000000,19.590000,229.900000,113.000000,10.500000,11.900000,5.000000,3.210000,2.000000,0
max,1.000000,1.000000,52.00000,351.500000,165.00000,59.760000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,True

# Exercise 5:

Separate the data into the features and labels. Assign the features to variable X and labels to variable y.

# Solution 5:

In [14]:
X = df.copy() # copies the dataframe to X
y = df.churned # copis the churned column to y
del X['churned'] # deletes the churned column from X

# Exercise 6: 

Split the data into 70% training set and 30% test set and assign them to variables named X_train, X_test, y_train, y_test (hint: train_test_split?)

# Solution 6:

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42) # get the train set which still contains the y in it

# Exercise 7: 

Create a N-Nearest Neighbors classifier of 5 neighbors. (hint: KNeighborsClassifier?)

# Solution 7:

In [ ]:
knn = KNeighborsClassifier(n_neighbors=5)

# Exercise 8:

Fit the model to the training set. (hint: knn.fit?)

# Solution 8:

In [ ]:
knn.fit(X_train, y_train)

# Exercise 9:

Use the model to make a prediction on the test set. Assign the prediction to a variable named y_pred

# Solution 9:

In [ ]:
y_pred = knn.predict(X_test)

# Exercise 10:

Determine how accurate your model is at making predictions. (hint: accuracy_score?)

# Solution 10:

In [ ]:
print(accuracy_score(y_test, y_pred))

# Exercise 11 (Optional)

Try different number of k neighbors between 1 and 10 and see if you find a better result